BODY {color:green }

#encabezado{
   color: aqua;
   font-family:Courier;
   font-weight:bold;
   font-style:oblique;
   line-height:30px;
   letter-spacing:5px;
   text-decoration:underline;
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
  }